.nav-sticky{
    padding: 6px;
}
.nav-sticky .logo{
    bottom: 27px !important;
}
@media only screen and (max-width: 767px) and (min-width: 320px){
    .top-bar .logo{
        bottom: 15px !important;
    }
    .btn-group a{
        border-radius: 0 !important;
    }
    .btn-calc-bottom a{
        border-top: 2px solid #6dbcdb !important;
    }
    .row .hospedagem a,.row .hora a{
        width: 100% !important;
    }
    .btn-group{
        padding: 0 10px !important;
    }
    .row .calc-buttons .btn-group a{
        width: 50% !important;
    }
}
.btn-group{
    padding: 0 30px;
    width: 100%;
}
.calc-buttons .btn-group a, .hora a{
    width: 25% !important;
}
.hospedagem a{
    width: 33% !important;
}
.calc-head{
    border-radius: 25px;
    background-color: #6DBCDB;
    padding: 10px;
}
.calc-head h4{
    color: white;
}
.calc-body{
    margin-top: 20px;
}
.table-calc{
    min-height: 500px;
}
.table-calc td{
    width: 33%;
    text-align: left;
}
.calc-placeholder{
    vertical-align:middle !important;
    text-align:center !important;
    font-size: 16pt;
}
.calc-site-description, .hospedagem-site-description {
    background-color: #6DBCDB;
    color: white;
    padding: 10px;
    display: none;
}
.btn-calc-bottom a{
    border-top: none;
}
.btn-group{
    text-align: center;
}
.btn-group i{
    font-size: 20pt;
    margin-bottom: 10px;
}
.btn-group a{
    margin: 0;
    padding: 30px 0;
    font-size: 11pt;
}
.btn-primary.active{
    background-color: #6DBCDB;
    border-color: #6DBCDB;
    box-shadow: none;
}
.form-login-center input{
    text-align: center;
}
.btn-group-vertical{
    width: 100%;
    padding: 0 20px;
}
.btn-group-vertical a{
    border-radius: 0;
    font-size: 12pt;
}
.btn-servicos, .btn-server{
    padding: 15px !important;
}
.btn-server{
    border-radius: 0;
}
.btn-group-vertical i:first-child{
    position:absolute;
    left:10px;
    font-size: 14pt;
}
.btn-group-vertical i:last-child{
    position:absolute;
    right:10px;
    font-size: 14pt;
}
.vert-info{
    background-color: #6DBCDB;
    color: white;
    height: 0;
    display: block;
    padding: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.vert-active{
    height: 30px;
    padding-top: 5px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.vert-selected{
    background-color: #6DBCDB;
    color: white;
}
.enviar-orcamento{
    background-color:#2C3E50 !important;
    border:none;
    margin-top: 20px;
    padding: 20px;
}
.enviar-confirm, .enviar-error, .enviar-complete, .enviar-itens, .enviar-terms {
    padding: 17px;
    background-color: #F9F9F9;
    border-radius: 25px;
    font-size: 14pt;
    line-height: 2;
    display: none;
}
.enviar-error, .enviar-complete, .enviar-itens, .enviar-terms {
    background-color: #FC4349 !important;
    color: white;
}
.calc-item-number{
    border: none;
    box-shadow: 0px 0px 1px #FC4349;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 50px;
    padding: 1px;
    text-align: center;
    width: 40%;
    margin-left: 10px;
    outline: none;
}
.contato-nome, .contato-email{
    border: none;
    box-shadow: 0px 0px 1px #FC4349;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 50px;
    padding: 12px;
    text-align: center;
    width: 100%;
    margin: 10px 0;
    outline: none;
}
.cupon-field{
    border: none;
    box-shadow: 0px 0px 1px #FC4349;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    width: 100%;
    outline: none;
}
#cupom input{
    width: 100%;
}
.desconto{
    vertical-align: middle !important;
}
.zls-bubimg{
    display: none;
}
.zls-small .zls_fltxtcnt{
    line-height: 1;
}
.zls-bublemain {
    top: 45px !important;
    right: -15px !important;
}
.zls-btrht .zls-bublemain, .zlsrotate_rht .zls-bublemain{
    height: 1px !important;
}
.bg-gueime{
    background-position:50% 1% !important;
}
.dz-success-mark, .dz-error-mark{
    display: none !important;
}
.profileinputs label, .profileinputs input, .profileinputs textarea{
    width: 100%;
    display: block
}